# ======================================================
#comments
# ======================================================
[misc]
serializer=json
deserializer=json

#[auth]
#DEPRECATED SECTION, USE IDENTITY INSTEAD
#base_url=https://staging.identity.api.rackspacecloud.com
#username=racktesting04
#api_key=411a637c9698278670be730c955f9ea9
#password=
#version=2.0

[identity]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=nova_sec_3
api_key=7b2de6923d795f50ebf2fb32128f1ffd
version=2.0
password=
alt_username=nova_sec_3
alt_api_key=

[object_storage]
default_content_length=0
region=ord
base_container_name=cf_qe_container
base_object_name=cf_qe_object
identity_service_name=cloudFiles
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/files/events

[cloudfiles_cdn]
region=ord
