# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=dwwin3
password=
api_key=b6745afc8f2cd12f7032b6709383ed2b
username=dwalleck_gl_admin
password=
api_key=9accbec243a54814ba11f11101c4088b
version=2.0
low_limit_username=nova_low_limit
low_limit_user_password=f796879a67b325a18fe8cc62870d02c0
creator=dwalleck_creator_sub
creator_key=92a4ff07a057465083589e38947956b6
observer=dwalleck_gl_observer
observer_key=569365375d5443bdae2ce712fdc0789f

[compute]
tenant_id=5853597
region=ord
ssh_timeout=300
build_interval=10
server_status_timeout=1200
create_limit=300
image_ref=7b06ce2d-d166-4e23-ac7f-2ea0c79064e9
image_status_timeout=2400
image_ref_alt=d4c7b93d-9f18-45dc-aa7c-3e3b126e3792
windows_image_ref=5468302a-3ffd-4e01-b6e7-f5da86d68e13
flavor_ref=2
flavor_ref_alt=3
flavor_40_gb_ref=3
flavor_with_2_vcpus=4
create_image_enabled=true
resize_available=true
authentication=keystone
os_type=linux
network_for_ssh=public
ip_address_version_for_ssh=4
compute_endpoint_name=cloudServersPreprod
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net
nova_atom_hopper_url_path=/nova/events
atom_hopper_feed_limit=250  
atom_hopper_pagination_limit=30
mysql_conn_string=tempestuser:p@ssword@50.56.185.24/tempestpreprod
identity_service_name=cloudServersPreprod
env_name=preprodord
instance_disk_path=/dev/xvda
gb_file_size=0.1
snapshot_gb_file_size=100
test_type=bandwidth_tests
managed_timeout=1200
datetime_seconds_leeway=60

[dnsaas]
region=STAGING
identity_service_name=dnsaas
url=https://staging.dnsaas.rackspace.net/v1.0/5830977
rel=cloudServersOpenStack
href=https://preprod.ord.servers.api.rackspacecloud.com/v2/5830977/servers
name=ptrrecord.com
type=PTR
ptr_timeout=20

[stacktach]
event_id=10000000
url=http://stacktach.preprod.ohthree.com
db_url=http://stacktach.preprod.ohthree.com
days_passed=90

[legacyserv]
identity_service_name=cloudServers
flavor_ref=1
image_ref=314
build_interval=3
server_status_timeout=720

[isolated_networks]
