# ======================================================
# dfw.prod.lefty.config
# Use this configuration file to run against DFW PROD Env
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://identity-internal.api.rackspacecloud.com
username=controlpanel_alpha
password=asdfGH=30
version=2.0_internal

[lefty]
base_url=https://api.prod.dfw.ticketing.encore.rackspace.com/v1
account_id=708236
data_centre=DFW
pubsub_url_dfw=https://pubsub.prod.dfw.ticketing.encore.rackspace.com
pubsub_url_ord=https://pubsub.prod.ord.ticketing.encore.rackspace.com
base_url_dfw=https://api.prod.dfw.ticketing.encore.rackspace.com/v1
base_url_ord=https://api.prod.ord.ticketing.encore.rackspace.com/v1
sync_wait_time=10