# ======================================================
# ord.lefty.config
# Use this configuration file to run against DFW Env
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity-internal.api.rackspacecloud.com
username=controlpanel_alpha
password=asdfGH=30
version=2.0_internal

[lefty]
base_url=https://api.staging.ord.ticketing.encore.rackspace.com/v1
account_id=26151
data_centre=ORD
pubsub_url_ord=https://pubsub.staging.ord.ticketing.encore.rackspace.com
pubsub_url_dfw=https://pubsub.staging.dfw.ticketing.encore.rackspace.com
base_url_dfw=https://api.staging.dfw.ticketing.encore.rackspace.com/v1
base_url_ord=https://api.staging.ord.ticketing.encore.rackspace.com/v1
sync_wait_time=10