# ======================================================
# preview
# Use this configuration file to run against the QE
# Environment Lab
# ======================================================
[logging]
log_dir = /var/log
debug_mode = False

[auth]
base_url=https://staging.identity.api.rackspacecloud.com:443
username=bdaasqa1
tenant_id=5838992
api_key=05ca88c6893d4b5b4c6208eac0411974
version=2.0
password=05ca88c6893d4b5b4c6208eac0411974
alt_username=bdaasqa2
alt_password=d403294d56161e3c75158e6ec06988be
alt_api_key=d403294d56161e3c75158e6ec06988be
alt_tenant_id=5838993
alt_user_id=10041477
admin_auth_url=https://staging.identity-internal.api.rackspacecloud.com:443
admin_auth_version=2.0_internal

[misc]
serializer=json
deserializer=json

[lava_api]
CLUSTER_CREATE_TIMEOUT=1500
DELETE_CLUSTER_TIMEOUT=100
BASE_URL=https://lab.lava.rackspace.com/v1.0/
ADMIN_API_URL=https://lab.lava.rackspace.com:8446/v1.0/
VERSIONLESS_LINK=https://lab.lava.rackspace.com/
USER_NAME=lavaqe
PASSWORD=Password#1
PROFILE_KEY_FILE_NAME=lavaqe_key_file
MANUAL_KEY_FILE_NAME=manual_key_file
TEST_DATA_PATH=../lib/testrepo/bigdata/test_data/
SWIFTLY_AUTH_URL=https://identity.api.rackspacecloud.com/v1.0/
SWIFTLY_AUTH_USER=bigdatateam
SWIFTLY_AUTH_KEY=2239fbd2c325d61c54983ba4da7b4c15
PIG_TIMEOUT=200
BULK_CLUSTER_CREATE_TIMEOUT=1000
MAX_SIMULTANEOUS_CLUSTERS=3
REPEATED_CLUSTER_CREATION=3
PROGRESSIVE_CLUSTER_RESIZE_FACTOR=1
PROGRESSIVE_CLUSTER_RESIZE_MAX=3
PROGRESSIVE_CLUSTER_CREATE_FACTOR=1
PROGRESSIVE_CLUSTER_CREATE_MAX=3
CLUSTER_SLEEP_INTERVAL=5
EPHEMERAL_DISK_PATH = /data
PRIMARY_DISK_PATH = /
NODE_REBOOT_TIMEOUT=100
FLAVOR=small
HADOOP_WEB_PAGE_TIMEOUT=10
HADOOP_REPLICATION_COUNT=3
TERA_SORT_TIMEOUT=3600
SOCKS_PROXY_PORT=4000

