# ======================================================
# preview
# Use this configuration file to run against the QE
# Environment Preview
# ======================================================
[logging]
log_dir = /var/log
debug_mode = False

[auth]
base_url=https://identity.api.rackspacecloud.com:443
username=vishalkankatala
api_key=72b5e8cff2abcd495de14501b2295634
tenant_id=805741
version=2.0
alt_username=bdaasqa2
alt_password=d403294d56161e3c75158e6ec06988be
alt_api_key=d403294d56161e3c75158e6ec06988be
alt_tenant_id=5838993
alt_user_id=10041477
admin_auth_url=https://staging.identity-internal.api.rackspacecloud.com:443/v2.0/tokens
admin_auth_version=2.0_internal

[misc]
serializer=json
deserializer=json

[lava_api]
CLUSTER_CREATE_TIMEOUT=1500
DELETE_CLUSTER_TIMEOUT=200
BASE_URL=https://dfw.bigdata.api.rackspacecloud.com/v1.0/
ADMIN_API_URL=https://10.14.211.4:8446/v1.0/
VERSIONLESS_LINK=https://dfw.bigdata.api.rackspacecloud.com/
USER_NAME=lavaqe
PASSWORD=Password#1
TEST_DATA_PATH=../lib/testrepo/bigdata/test_data/
SWIFTLY_AUTH_URL=https://identity.api.rackspacecloud.com/v1.0/
SWIFTLY_AUTH_USER=bigdatateam
SWIFTLY_AUTH_KEY=2239fbd2c325d61c54983ba4da7b4c15
PIG_TIMEOUT=100
BULK_CLUSTER_CREATE_TIMEOUT=1000
MAX_SIMULTANEOUS_CLUSTERS=20
REPEATED_CLUSTER_CREATION=25
PROGRESSIVE_CLUSTER_RESIZE_FACTOR=5
PROGRESSIVE_CLUSTER_RESIZE_MAX=50
PROGRESSIVE_CLUSTER_CREATE_FACTOR=5
PROGRESSIVE_CLUSTER_CREATE_MAX=70
CLUSTER_SLEEP_INTERVAL=30
EPHEMERAL_DISK_PATH = /dev/xvdd1
PRIMARY_DISK_PATH = /dev/xvda1
NODE_REBOOT_TIMEOUT=100
FLAVOR=None
HADOOP_WEB_PAGE_TIMEOUT=10
HADOOP_REPLICATION_COUNT=3
TERA_SORT_TIMEOUT=3600
SOCKS_PROXY_PORT=4001
EPHEMERAL_DISK_PATH = /data
PRIMARY_DISK_PATH = /
PROFILE_KEY_FILE_NAME=lavaqe_key_file
MANUAL_KEY_FILE_NAME=manual_key_file

