# ======================================================
# qe.config
# Use this configuration file to run against the CBS QE Environment
# Environment Huddle 48
# ======================================================

[misc]
serializer=xml
deserializer=xml

[identity_api]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=huddle48user
api_key=0f97f489c848438090250d50c7e1ea88
version=2.0

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=huddle48user
api_key=0f97f489c848438090250d50c7e1ea88
version=2.0
password=

[lunr_api]
host = 10.13.253.5
port = 8080
ssl = False
version = v1.0
account_name = admin
account_id = admin

[storage_node_api]
autodetect = True
host = 127.0.0.1
port = 8080
ssl = False

[nova_shell]
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
NOVACLIENT_INSECURE=1
NOVA_SERVICE_NAME=openstackHuddle48
NOVA_VOLUME_SERVICE_NAME=cloudBlockStorageQE
OS_REGION_NAME=ORD
OS_TENANT_NAME=4801
OS_USERNAME=huddle48user
OS_PASSWORD=0f97f489c848438090250d50c7e1ea88
OS_AUTH_URL=https://staging.identity.api.rackspacecloud.com/v2.0/
OS_NO_CACHE=1
environment_type=huddle
image_name=Debian 6 (Squeeze)
min_volume_size=1
max_volume_size=10
OS_AUTH_SYSTEM=rackspace

[cinder_shell]
min_volume_size=1
max_volume_size=10
environment_type=huddle
CINDERCLIENT_INSECURE=1
OS_NO_CACHE=1
CINDER_RAX_AUTH=1
OS_AUTH_URL=https://staging.identity.api.rackspacecloud.com/v2.0
OS_USERNAME=huddle48user
OS_PASSWORD=0f97f489c848438090250d50c7e1ea88
OS_TENANT_NAME=4801
OS_REGION_NAME=ORD
CINDER_VOLUME_SERVICE_NAME=cloudBlockStorageQE
OS_AUTH_SYSTEM=rackspace

[volumes]
identity_service_name=cloudBlockStorageQE
region=ORD
min_volume_size=1
max_volume_size=10
default_wait_interval=30
default_max_waits=10
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/cbs/events

[volume_attachments]
identity_service_name=cloudBlockStorageQE
region=ORD

[compute]
identity_service_name=openstackHuddle48
region=ORD
image_ref=0790c8c7-1bbe-470c-9403-88883982b5fb
flavor_ref=2
