# ======================================================
# preprod.config
# Use this configuration file to run against preprod env
# ======================================================

[misc]
serializer=json
deserializer=json
ext_serializer=json
ext_deserializer=json

[auth]
creator=siqetest1creator
creator_key=267f76ec6559478d89486f8fcde48402
alt_creator=siqetest1creator2
alt_creator_key=a69f705109d646dd9eeaa96d2f714307
diff_creator=siqetest2creator
diff_creator_key=7e242c8e48514f3388f1e41af9d3cb94
observer=siqetest1observer
observer_key=9ffe5597dc6346a1b836d7efe46b84b8
alt_observer=siqetest1observer2
alt_observer_key=7e415c25b93c47e79c20ab4b44427612
diff_observer=siqetest02observer
diff_observer_key=399be6df81ad4cf2927a6277c24f387b
global_observer=siqetest1globserver1
global_observer_key=f7b0a15314374ae88913b5d0f259ac7c
diff_global_observer=siqetest2globserver
diff_global_observer_key=ba3c33b232f34bcd91acf55fec6c725f
alt_admin=siqetest1admin2
alt_admin_key=4081713ea8364bd19dfd67ae2f495b6a
diff_admin=siqetest2
diff_admin_key=56c796d397d0c9d2d8a3db3a081193ab
global_admin=siqetest1gladmin1
global_admin_key=65bbd0bd93eb41cf80eff9f78a4e1071
diff_global_admin=siqetest2gladmin
diff_global_admin_key=150318d0bb9647119ddd05a06798837e
base_url=https://staging.identity.api.rackspacecloud.com
username=siqetest1
password=
api_key=d320eb8416d979374aca094d2d53eebe
version=2.0

[identity]
authentication_endpoint=https://staging.identity-internal.api.rackspacecloud.com
version=2.0
username=siqetest1
api_key=d320eb8416d979374aca094d2d53eebe

[identity_api]
username=siqetest1
password=
api_key=d320eb8416d979374aca094d2d53eebe
version=2.0
authentication_endpoint=https://staging.identity.api.rackspacecloud.com

[compute]
tenant_id=5877036
region=ORD
compute_endpoint_name=cloudServersPreprod
identity_service_name=cloudServersPreprod
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net
atom_hopper_feed_limit=250
atom_hopper_pagination_limit=30
image_ref=e4dbdba7-b2a4-4ee5-8e8f-4595b6d694ce
flavor_ref=performance1-1

[images]
url=http://qonos-api01.global.preprod-ord.ohthree.com:7667/v1
ext_url=https://preprod.ord.servers.api.rackspacecloud.com/v2
helper_url=
tenant_id=5877036
tenant=5877036
alt_tenant=5877054
user_name=siqetest1
retention=2
alt_retention=3
sch_img_metadata_key=org.openstack__1__created-by
sch_img_metadata_value=scheduled-images-service
action=snapshot
alt_action=reboot
minute=30
hour=15
month=9
day_of_week=5
day_of_month=15
schedule_metadata={"meta": {"retention", "3"}}
metadata_key=instance_id
alt_metadata_key=retention
user_name_metadata_key=user_name
third_metadata_key=third_key
host=test_host
alt_host=test_host2
job_status=queued
alt_job_status=teststatus
build_interval=10
alt_build_interval=5
job_status_timeout=1200
job_pickup_timeout=1200
server_status_timeout=2100
server_task_state_timeout=100
worker_stop_timeout=30
worker_start_timeout=15
scheduler_nextrun_timeout=60
#default timeout is 3600; for snapshot action timeout is 86400
hard_timeout_offset=3600
scheduled_images_alias=rax-si-image-schedule
results_limit=100
