# ======================================================
# prod.lon.config
# Use this configuration file to run against prod uk env
# ======================================================

[misc]
serializer=json
deserializer=json
ext_serializer=json
ext_deserializer=json

[identity]
authentication_endpoint=https://lon.identity.api.rackspacecloud.com
version=2.0
username=titanqelon
api_key=550385aaa0b0a0c8586eb0bed638d0ba

[identity_api]
username=titanqelon
password=
api_key=550385aaa0b0a0c8586eb0bed638d0ba
version=2.0
authentication_endpoint=https://identity.api.rackspacecloud.com

[compute]
tenant_id=10031761
region=LON
compute_endpoint_name=cloudServersOpenStack
identity_service_name=cloudServersOpenStack
image_ref=2f15076a-dfd5-4441-9eba-3b001e4630de
flavor_ref=2

[images]
url=http://10.21.240.56:7667/v1
ext_url=https://lon.servers.api.rackspacecloud.com/v2
helper_url=
tenant_id=10031761
tenant=10031761
alt_tenant=demo2
user_name=titanqelon
retention=2
alt_retention=3
sch_img_metadata_key=org.openstack__1__created-by
sch_img_metadata_value=scheduled-images-service
action=snapshot
alt_action=reboot
minute=30
hour=15
month=9
day_of_week=5
day_of_month=15
schedule_metadata={"meta": {"retention", "3"}}
metadata_key=instance_id
alt_metadata_key=retention
user_name_metadata_key=user_name
third_metadata_key=third_key
host=test_host
alt_host=test_host2
job_status=queued
alt_job_status=teststatus
build_interval=10
alt_build_interval=5
job_status_timeout=1200
job_pickup_timeout=600
server_status_timeout=1200
server_task_state_timeout=200
worker_stop_timeout=30
worker_start_timeout=15
scheduler_nextrun_timeout=60
#default timeout is 3600; for snapshot action timeout is 86400
hard_timeout_offset=3600
scheduled_images_alias=rax-si-image-schedule
results_limit=100
