[misc]
serializer=json
deserializer=json

[cinder_shell]
OS_NO_CACHE=1
OS_REGION_NAME=ORD
OS_TENANT_NAME=4801
OS_USERNAME=huddle48user
OS_PASSWORD=0f97f489c848438090250d50c7e1ea88
OS_AUTH_URL=https://staging.identity.api.rackspacecloud.com/v2.0/
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
NOVACLIENT_INSECURE=1
NOVA_SERVICE_NAME=openstackHuddle48
NOVA_VOLUME_SERVICE_NAME=cloudBlockStorageQE
NOVACLIENT_DEBUG=1
environment_type=huddle
IMAGE_ID=0790c8c7-1bbe-470c-9403-88883982b5fb
OS_AUTH_SYSTEM=rackspace

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=huddle48user
api_key=0f97f489c848438090250d50c7e1ea88
version=2.0
password=
