# ======================================================
# lab.config
# Use this configuration file to run against the Lab environment
# (The physical lab - CBS only, NO NOVA IN THIS ENV)
# ======================================================

[misc]
serializer=json
deserializer=json

[identity_api]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=huddle48user
api_key=0f97f489c848438090250d50c7e1ea88
version=2.0

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=huddle48user
api_key=0f97f489c848438090250d50c7e1ea88
version=2.0
password=

[lunr_api]
host = 10.127.0.5
port = 8080
ssl = False
version = v1.0
account_name = admin
account_id = admin

[storage_node_api]
autodetect = True
host = 127.0.0.1
port = 8080
ssl = False

[cinder_shell]
environment_type=huddle
CINDERCLIENT_INSECURE=1
CINDER_RAX_AUTH=1
CINDER_VOLUME_SERVICE_NAME=cloudBlockStorageHuddle48
OS_NO_CACHE=1
OS_AUTH_URL=https://staging.identity.api.rackspacecloud.com/v2.0
OS_USERNAME=huddle48user
OS_PASSWORD=0f97f489c848438090250d50c7e1ea88
OS_TENANT_NAME=4801
OS_REGION_NAME=CBSDev-ORD
min_volume_size=1
max_volume_size=1
OS_AUTH_SYSTEM=rackspace

[volumes]
identity_service_name=cloudBlockStorageHuddle48
region=CBSDev-ORD
min_volume_size=1
max_volume_size=1
default_wait_interval=5
default_max_waits=60
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/cbs/events
