# ======================================================
# Use this configuration file to run against the prod environment in IAD
# ======================================================

[misc]
serializer=xml
deserializer=xml

[identity_api]
version=2.0
authentication_endpoint=https://identity.api.rackspacecloud.com
username=cbstesting05
api_key=093c6e0be1f5e100199f997242028015
password=9he5z525E5M97wxF

[nova_shell]
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
NOVACLIENT_INSECURE=1
NOVA_SERVICE_NAME=cloudServersOpenStack
NOVA_VOLUME_SERVICE_NAME=cloudBlockStorage
OS_REGION_NAME=IAD
OS_TENANT_NAME=706623
OS_USERNAME=cbstesting05
OS_PASSWORD=093c6e0be1f5e100199f997242028015
OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
OS_NO_CACHE=1
environment_type=huddle
image_name=Ubuntu 12.04 LTS (Precise Pangolin)
min_volume_size=100
max_volume_size=1024
OS_AUTH_SYSTEM=rackspace

[cinder_shell]
min_volume_size=100
max_volume_size=1024
environment_type=huddle
CINDER_RAX_AUTH=1
OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
OS_TENANT_NAME=706623
OS_USERNAME=cbstesting05
OS_PASSWORD=093c6e0be1f5e100199f997242028015
OS_REGION_NAME=IAD
CINDER_VOLUME_SERVICE_NAME=cloudBlockStorage
OS_AUTH_SYSTEM=rackspace

[volumes]
identity_service_name=cloudBlockStorage
region=IAD
min_volume_size=100
max_volume_size=1024
default_wait_interval=30
default_max_waits=100

[volume_attachments]
identity_service_name=cloudServersOpenStack
region=IAD

[compute]
identity_service_name=cloudServersOpenStack
region=IAD
image_ref=23b564c9-c3e6-49f9-bc68-86c7a9ab5018
flavor_ref=2
flavor_ref_alt=3
build_interval=10
server_status_timeout=600
