# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[atomhopper]
serializer=xml
deserializer=xml

[identity_api]
version=2.0
authentication_endpoint=https://t-api2.cidm.iad2.corp.rackspace.com:4932/cloud
#authentication_endpoint=https://d-api2.cidm.iad2.corp.rackspace.com:4932/cloud
#authentication_endpoint=http://localhost:8083/idm/cloud
atom_hopper_url=http://10.4.39.67:8888/namespace/feed/
v1_default_mosso=[15,120]
v1_default_nast=[103,111]
default_region=DFW
default_services=['cloudFiles', 'cloudFilesCDN','cloudServersPreprod', 'cloudServers']
username=cloudCafeUserAdmin
password=passwordD1
api_key=ba04b108b7cefcbcbf7c4d8bd05e3857
tenant_id=StagingUS_5a7ace89-7f58-461b-bf73-ef11915fbd99
id=10071320
admin_username=auth
admin_password=auth123
false_api_key=gellert123456789gellert123456789
empty_api_key=
long_api_key=gellert123456789gellert1234567891234567890123
short_api_key=gellert123456789
bad_char_api_key=ЖЩЙЯХЪХУГЖШЩЙЬЯ
false_password=00000000
empty_password=
short_password=Pass1
bad_char_password=ЯЩИШХГФф9
false_token=01234567-2222-111-333-123456789123
empty_token=
long_token=01234567-2222-111-333-12345678912367847474747
short_token=333-123456789125
bad_char_token=ЯЩИШХГФф9
false_tenant_id=00001111
service_username=authQE
service_password=Auth1234
service_username_to_test=testServiceAdmin
service_password_to_test=Password1
wait_time=5
identityAdminRoleId=1
defaultUserRoleId=2
userAdminRoleId=3
serviceAdminRoleId=4
default_email=testbox@mailtrust.com
user_manage_role_id=7
token_entropy=1
cloud_token_ttl=86400
impersonation_token_ttl=10800
racker_username=test.racker
racker_password=password
encryption_password=MYPAS_WORD
algorithm=PBEWITHMD5ANDDES
type_mosso=MOSSO
public_url=https://service-public.com/v1
internal_url=https://service-internal.com/v1
admin_url=https://service-admin.com/v1
subuser_limit=100
cloudfiles_role_id=5

[default_role_id]
identity_user_default_role_id=1
user_admin_default_role_id=3
sub_user_default_role_id=2
role_with_weight_100_id = 10053953
role_with_weight_500_id = 10053954
role_with_weight_1000_id = 10053955
role_with_weight_2000_id = 10053956

[ldap]
host=cert-ldap1.cidm.iad2.corp.rackspace.com
bind_dn=cn=admin,ou=internal,dc=rackspace,dc=com
password=Qwerty00
port=636
open_ldap=False
openldap_host=localhost
openldap_port=389
page_size=None
