# ======================================================
# use this configuration file to run against the qe environment
# ======================================================

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=auth
password=auth123
api_key=
version=2.0

[moneyball]
base_url=https://mbapi.staging.ord1.us.ci.rackspace.net/beaker
base_url_dev=http://mb-api-n01.dev.inova.us.ci.rackspace.net:8080/beaker
base_url_prod=https://analytics-api-internal.prod.ord1.us.ci.rackspace.net/beaker

[misc]
serializer=json
deserializer=json