# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=cloudqabrandon
api_key=
password=Pass1234
alt_username=dwalleck3
alt_api_key=
alt_password=Pass1234
version=2.0

[compute]
identity_service_name=cloudServersPreprod
region=ord
image_ref=d4c7b93d-9f18-45dc-aa7c-3e3b126e3792
image_ref_alt=8ae428cd-0490-4f3a-818f-28213a7286b0
flavor_ref=2
build_interval=10
server_status_timeout=1200
server_delete_timeout=30
image_status_timeout=60
ip_address_version_for_ssh=4

[isolated_networks]
identity_service_name=cloudServersPreprod
region=ord
performance_image_ref=76856c8b-e56e-4301-b454-c8cd1be22cfb
managed_username=racktest02
managed_api_key=
managed_password=Pzzag6TkFtrB
rackconnect_username=racktest01
rackconnect_api_key=
rackconnect_password=MbAx30mxPRzM

[nvp]
endpoint=https://controller7.nvp.ord1.ohthree.com
username=admin
password=aeN[ay1ua+ne