# Use this configuration file to run against ORD Preprod
# For dnsaas
# ======================================================

[misc]
serializer=json
deserializer=json



[identity]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=dnsqeuser
admin_username=dnsqeuser
admin_password=Pass1234
api_key=56b39aa3492d27aca1d3cbd795294e31
id=5845807
version=2.0

[dnsaas]
url=https://staging.dnsaas.rackspace.net/v1.0/5845807
region=STAGING
identity_service_name=cloudDNS
rel=cloudLoadBalancers
href=https://staging.ord.loadbalancers.api.rackspacecloud.com/v1.0/5845807/loadbalancers
name=ptrrecord.com
type=PTR

[lbaas]
identity_service_name=cloudLoadBalancers
region=STAGING
mgmt_url=https://staging.admin.ord.loadbalancers.api.rackspacecloud.com/v1.0
live_node1=50.56.235.33
live_node2=50.56.203.87
live_node1_servicenet=10.178.196.39
live_node2_servicenet=10.179.32.86
live_node_password=b00mb00m
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/lbaas/events/
atom_feed_user=lbaasUsageUS
atom_feed_password=J261neLCdGbooTeJ
public_url=https://qa.loadbalancers.api.rackspacecloud.com/v1.0/5845807

[compute]
tenant_id=5830193
region=ord
ssh_timeout=300
build_interval=10
server_status_timeout=600
create_limit=300
image_ref=d4c7b93d-9f18-45dc-aa7c-3e3b126e3792
image_status_timeout=2400
image_ref_alt=Ubuntu 10.04 LTS (Lucid Lynx) 
windows_image_ref=5468302a-3ffd-4e01-b6e7-f5da86d68e13
flavor_ref=2
flavor_ref_alt=3
flavor_40_gb_ref=3
flavor_with_2_vcpus=4
create_image_enabled=true
resize_available=true
authentication=keystone
os_type=linux
ip_address_version_for_ssh=4
compute_endpoint_name=cloudServersPreprod
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net
atom_hopper_feed_limit=250  
atom_hopper_pagination_limit=30
mysql_conn_string=tempestuser:p@ssword@50.56.185.24/tempestpreprod
identity_service_name=cloudServersPreprod
