# ======================================================
# lonprod.config
# Use this configuration file to run against the prod environment in london
# ======================================================

[misc]
serializer=json
deserializer=json

[identity_api]
authentication_endpoint=https://lon.identity.api.rackspacecloud.com
username=qatest1
api_key=a50b7b76352fcd1ed5b52bbdf5bff0f9
version=2.0

[auth]
base_url=https://lon.identity.api.rackspacecloud.com
username=qatest1
api_key=a50b7b76352fcd1ed5b52bbdf5bff0f9
version=2.0
password=
low_limit_username=
low_limit_user_password=

[lunr_api]
host = 10.21.227.251
port = 8080
ssl = False
version = v1.0
account_name = admin
account_id = admin

[storage_node_api]
autodetect = True
#host = False
#port = False
#ssl = False

[nova_shell]
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
NOVACLIENT_INSECURE=1
NOVA_SERVICE_NAME=cloudServersOpenStack
NOVA_VOLUME_SERVICE_NAME=cloudBlockStorage
OS_REGION_NAME=LON
OS_TENANT_NAME=10001673
OS_USERNAME=qatest1
OS_PASSWORD=a50b7b76352fcd1ed5b52bbdf5bff0f9
OS_AUTH_URL=https://lon.identity.api.rackspacecloud.com/v2.0/
OS_NO_CACHE=1
environment_type=huddle
image_name=Ubuntu 12.04 LTS (Precise Pangolin)
min_volume_size=100
max_volume_size=1024
OS_AUTH_SYSTEM=rackspace

[cinder_shell]
min_volume_size=100
max_volume_size=1024
environment_type=huddle
CINDER_RAX_AUTH=1
OS_AUTH_URL=https://lon.identity.api.rackspacecloud.com/v2.0/
OS_USERNAME=qatest1
OS_PASSWORD=a50b7b76352fcd1ed5b52bbdf5bff0f9
OS_TENANT_NAME=10001673
OS_REGION_NAME=LON
CINDER_VOLUME_SERVICE_NAME=cloudBlockStorage
OS_AUTH_SYSTEM=rackspace

[volumes]
identity_service_name=cloudBlockStorage
region=LON
min_volume_size=100
max_volume_size=1024
default_wait_interval=30
default_max_waits=100
#atom_feed_url=https://atom.prod.lon3.uk.ci.rackspace.net/cbs/events

[volume_attachments]
identity_service_name=cloudServersOpenStack
region=LON

[compute]
tenant_id=10001673
region=ord
ssh_timeout=300
build_interval=10
server_status_timeout=600
create_limit=300
#image_ref=a10eacf7-ac15-4225-b533-5744f1fe47c1
image_status_timeout=2400
image_ref_alt=Ubuntu 12.04 LTS (Precise Pangolin)
windows_image_ref=5468302a-3ffd-4e01-b6e7-f5da86d68e13
flavor_ref=2
flavor_ref_alt=3
flavor_40_gb_ref=3
flavor_with_2_vcpus=4
create_image_enabled=true
resize_available=true
authentication=keystone
os_type=linux
ip_address_version_for_ssh=4
compute_endpoint_name=cloudServersOpenStack
identity_service_name=cloudServersOpenStack
