# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=leomaycotte1
api_key=6c3fa399b031e5d84e5ff7df9eb59d2b
password=Pass1234
alt_username=test009
alt_api_key=cfe6b6f0f7c2d78ce941acbe0ae6e167
alt_password=pass009
version=2.0

[compute]
identity_service_name=cloudServersPreprod
region=ord
image_ref=d4c7b93d-9f18-45dc-aa7c-3e3b126e3792
image_ref_alt=8ae428cd-0490-4f3a-818f-28213a7286b0
flavor_ref=2
build_interval=10
server_status_timeout=1200
server_delete_timeout=30
image_status_timeout=60
ip_address_version_for_ssh=4
ssh_retries=3

[isolated_networks]
identity_service_name=cloudServersPreprod
region=ord
run_nvp=True
ifconfig_order_check=True
performance_image_ref=76856c8b-e56e-4301-b454-c8cd1be22cfb
managed_username=racktest02
managed_api_key=
managed_password=Pzzag6TkFtrB
rackconnect_username=racktest01
rackconnect_api_key=
rackconnect_password=MbAx30mxPRzM
admin_username=leo_admin
admin_api_key=de88c8c26179908f43ed1ceab9463b5d
admin_password=Pass1234
creator_username=leo_creator_sub
creator_api_key=c9978a71bb344d93bd5bb37c2b2c15cf
creator_password=Pass1234
observer_username=leo_observer_sub
observer_api_key=6559f9d260a54d1d90cffdcc4933551f
observer_password=Pass1234

[nvp]
endpoint=https://controller7.nvp.ord1.ohthree.com
username=admin
password=aeN[ay1ua+ne
