# ======================================================
# Use this configuration file to run against DFW PROD
# for monitor test account
# ======================================================

[misc]
serializer=json
deserializer=json

[managedcloud]
mass_url=https://monitoring.api.rackspacecloud.com/v1.0
valkyrie_base_url=https://valkyrie.prod.myrs.rackspace.com/cloud_account
valkyrie_auth_token=E68480047C5CB734152161B2ECD9AEF319BAE02294DCCE4F0F73AC0FA175F6F9
managed_cloud_timeout=3600

[auth]
base_url=https://identity.api.rackspacecloud.com
username=monitortest
password=
api_key=695f39714b1b77e20db83d5bedfb3d39
version=2.0
low_limit_username=monitortest
low_limit_user_password=695f39714b1b77e20db83d5bedfb3d39

[compute]
tenant_id=557883
region=ORD
ssh_timeout=300
identity_service_name=cloudServersOpenStack
build_interval=10
server_status_timeout=9000
image_ref=03318d19-b6e6-4092-9b5c-4758ee0ada60
image_status_timeout=2400
image_ref_alt=d531a2dd-7ae9-4407-bb5a-e5ea03303d98
windows_image_ref=4dae4592-8ef7-4f6e-8b09-e8142d3beb5c
flavor_ref=2
atom_hopper_url=https://atom.prod.ord1.us.ci.rackspace.net


[legacyserv]
url=https://servers.api.rackspacecloud.com/v1.0/

[isolated_networks]