# ======================================================
#comments
# ======================================================
[misc]
serializer=json
deserializer=json

[identity]
authentication_endpoint=https://identity.api.rackspacecloud.com
username=racktesting04
api_key=411a637c9698278670be730c955f9ea9
version=2.0
password=
alt_username=racktesting03
alt_api_key=703132047f0e1bea532ebbd56a0463e3

[object_storage]
default_content_length=0
region=STAGING
base_container_name=cf_qe_container
base_object_name=cf_qe_object
#Unconfirmed whether atom_feed_url will work with racktesting03 or not
identity_service_name=cloudFiles
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/files/events
http_headers_per_request_count = 90
http_headers_combined_max_len = 4096
http_request_line_max_len = 8192
http_request_max_content_len = 5368709120
containers_name_max_len = 256
containers_list_default_count = 1000
containers_list_default_max_count = 1000
containers_max_count = 500000
object_name_max_len = 1024
object_max_size = 5368709120
object_metadata_max_count = 90
object_metadata_combined_byte_len = 4096
object_list_default_count = 1000
object_list_default_max_count = 1000
metadata_name_max_len = 128
metadata_value_max_len = 256
tempurl_key_cache_time = 60
formpost_key_cache_time = 60
slo_min_segment_size = 1048576
slo_max_segment_count = 1000

[cloudfiles_cdn]
region=STAGING
cdn_min_ttl = 900
cdn_max_ttl = 1577836800
cdn_purge_max_count = 25
