# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=nova_sec_3
api_key=
password=password
version=2.0

[compute]
identity_service_name=cloudServersPreprod
region=ord
image_ref=d531a2dd-7ae9-4407-bb5a-e5ea03303d98
flavor_ref=2
server_status_timeout=120

[lbaas]
identity_service_name=cloudLoadBalancers
region=STAGING
mgmt_url=https://staging.admin.ord.loadbalancers.api.rackspacecloud.com/v1.0
mgmt_username=lbaas_service
mgmt_password=DsEjl\#pqFu2
