# ======================================================
# staging.q.config
# Use this configuration file to run against q.rackspace staging
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.q.rackspace.com/api
username=testuser1
password=123456789
version=flow
core_auth_url = https://ws.staging.core.rackspace.com/ctkapi/
core_username = melissa.biles
core_password = qwerty
core_version = core
zendesk_url = https://mosso.zendesk.com/api/v2/
zendesk_user_name = isl_qe_usq@lists.mosso.com
zendesk_password = j@cks

[flow]
zd_hybrid_int_smb_id = 20596722
flow_hybrid_int_smb_id = 33846941
testuser4_zd_id = 472132118
testuser4_user_name = TQ_Delta Service Account
testuser4_sso = tq_delta
wait_for_tickets = 60


