# ======================================================
# staging.encore.config
# Use this configuration file to run against encore staging
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=http://encore.rackspace.com:4000/v1

[encore]
account_id=11
device_num=3563
