# ======================================================
# qe.h48.config
# Use this configuration file to run against the QE
# Environment Huddle 48
# ======================================================
[logging]
log_dir = /var/log
debug_mode = False

[lunr_api]
host = 10.13.236.70
port = 8080
ssl = False
version = v1.0
account_name = admin
account_id = admin

[storage_node_api]
autodetect = True
host = False
port = False
ssl = False

[nova_shell]
NOVACLIENT_INSECURE=1
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
OS_AUTH_URL=https://auth.staging.us.ccp.rackspace.net/v2.0/
OS_TENANT_NAME=4801
OS_USERNAME=huddle48user
NOVA_SERVICE_NAME=cloudServersPreprod
NOVA_VOLUME_SERVICE_NAME=cloudBlockStoragePreprod
OS_PASSWORD=0f97f489c848438090250d50c7e1ea88
OS_REGION_NAME=ORD
OS_NO_CACHE=1
OS_AUTH_SYSTEM=rackspace
image_name=Ubuntu 12.04 LTS (Precise Pangolin)
