# ===============================================================
# staging.config
# Use this configuration file to run against H52 ORD preprod env
# ===============================================================

[misc]
serializer=json
deserializer=json

[stacktach]
event_id=15734514
url=http://stacktach.preprod.ohthree.com
db_url=http://stacktach.preprod.ohthree.com
days_passed=90

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=dwalleck3
password=
api_key=d1b9306bdc4204118a2f95f514cf6070
version=2.0
low_limit_username=nova_low_limit
low_limit_user_password=f796879a67b325a18fe8cc62870d02c0

[compute]
tenant_id=StagingUS_d8785bf2-d10f-4fbd-a7d8-04fd5eedfd66
region=ord
ssh_timeout=300
build_interval=10
server_status_timeout=1800
create_limit=300
image_ref=7b06ce2d-d166-4e23-ac7f-2ea0c79064e9
image_status_timeout=2400
image_ref_alt=d4c7b93d-9f18-45dc-aa7c-3e3b126e3792
windows_image_ref=5468302a-3ffd-4e01-b6e7-f5da86d68e13
flavor_ref=2
flavor_ref_alt=3
flavor_40_gb_ref=3
flavor_with_2_vcpus=4
create_image_enabled=true
resize_available=true
authentication=keystone
os_type=linux
ip_address_version_for_ssh=4
compute_endpoint_name=cloudServersPreprod
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net
atom_hopper_feed_limit=250  
atom_hopper_pagination_limit=30
mysql_conn_string=tempestuser:p@ssword@50.56.185.24/tempestpreprod
identity_service_name=cloudServersPreprod
env_name=preprodord
gb_file_size=0.1
test_type=bandwidth_tests