# ======================================================
# staging.core.config
# Use this configuration file to run against core staging
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.core.rackspace.com/ctkapi/
username=melissa.biles
admin_username=melissa.biles
password=qwerty
version=core

[core]
account_id=11
contact_id=786742
contract_id=78119
computer_id=511100
employee_num=2707
datacenter_id=8
support_team_name=ENTZ-2MIX
support_team_id=321
special_account_id=812749
certificate_id=100
snapshot_date="2013-01-20 00:00:00"
ctkapi_modules=27