# ======================================================
# Use this configuration file to run against the prod environment in DFW
# ======================================================

[misc]
serializer=xml
deserializer=xml

[identity_api]
version=2.0
authentication_endpoint=https://identity.api.rackspacecloud.com
username=cbstesting01
api_key=b1ea848a49b1d248abc1f9fcea8560a0
password=K9844g423Hzv

[nova_shell]
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
NOVACLIENT_INSECURE=1
NOVA_SERVICE_NAME=cloudServersOpenStack
NOVA_VOLUME_SERVICE_NAME=cloudBlockStorage
OS_REGION_NAME=DFW
OS_TENANT_NAME=706619
OS_USERNAME=cbstesting01
OS_PASSWORD=b1ea848a49b1d248abc1f9fcea8560a0
OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
OS_NO_CACHE=1
image_name=Ubuntu 12.04 LTS (Precise Pangolin)
environment_type=huddle
min_volume_size=100
max_volume_size=1024
OS_AUTH_SYSTEM=rackspace

[cinder_shell]
CINDER_RAX_AUTH=1
OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
OS_TENANT_NAME=706619
OS_USERNAME=cbstesting01
OS_PASSWORD=b1ea848a49b1d248abc1f9fcea8560a0
OS_REGION_NAME=DFW
CINDER_VOLUME_SERVICE_NAME=cloudBlockStorage
environment_type=huddle
min_volume_size=100
max_volume_size=1024
OS_AUTH_SYSTEM=rackspace

[volumes]
identity_service_name=cloudBlockStorage
region=DFW
atom_feed_url=https://atom.prod.dfw1.us.ci.rackspace.net/cbs/events
min_volume_size=100
max_volume_size=1024
default_wait_interval=30
default_max_waits=100

[volume_attachments]
identity_service_name=cloudServersOpenStack
region=DFW

[compute]
identity_service_name=cloudServersOpenStack
region=DFW
image_ref=23b564c9-c3e6-49f9-bc68-86c7a9ab5018
flavor_ref=2
flavor_ref_alt=3
build_interval=10
server_status_timeout=600