# ======================================================
# Use this configuration file to run against the prod environment in LON
# ======================================================

[misc]
serializer=json
deserializer=json

[identity_api]
version=2.0
authentication_endpoint=https://lon.identity.api.rackspacecloud.com
username=qatest1
api_key=af65facd2e1176e538d999dbb336ff16
password=Jtester1

[nova_shell]
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
NOVACLIENT_INSECURE=1
NOVA_SERVICE_NAME=cloudServersOpenStack
NOVA_VOLUME_SERVICE_NAME=cloudBlockStorage
OS_REGION_NAME=LON
OS_TENANT_NAME=10001673
OS_USERNAME=qatest1
OS_PASSWORD=af65facd2e1176e538d999dbb336ff16
OS_AUTH_URL=https://lon.identity.api.rackspacecloud.com/v2.0/
OS_NO_CACHE=1
environment_type=huddle
image_name=Ubuntu 12.04 LTS (Precise Pangolin)
min_volume_size=100
max_volume_size=1024
OS_AUTH_SYSTEM=rackspace

[cinder_shell]
min_volume_size=100
max_volume_size=1024
environment_type=huddle
CINDER_RAX_AUTH=1
OS_AUTH_URL=https://lon.identity.api.rackspacecloud.com/v2.0/
OS_TENANT_NAME=10001673
OS_USERNAME=qatest1
OS_PASSWORD=af65facd2e1176e538d999dbb336ff16
OS_REGION_NAME=LON
CINDER_VOLUME_SERVICE_NAME=cloudBlockStorage
OS_AUTH_SYSTEM=rackspace

[volumes]
identity_service_name=cloudBlockStorage
region=LON
min_volume_size=100
max_volume_size=1024
default_wait_interval=30
default_max_waits=100
#atom_feed_url=https://atom.prod.lon3.uk.ci.rackspace.net/cbs/events

[volume_attachments]
identity_service_name=cloudServersOpenStack
region=LON

[compute]
identity_service_name=cloudServersOpenStack
region=LON
image_ref=23b564c9-c3e6-49f9-bc68-86c7a9ab5018
flavor_ref=2
flavor_ref_alt=3
build_interval=10
server_status_timeout=600