# =============================================================================
# preprod.config
# Use this configuration file to run against the CBS PreProd Environment
# Environment Huddle 52
# =============================================================================

[misc]
serializer=json
deserializer=json

[identity_api]
authentication_endpoint=https://staging.identity-internal.api.rackspacecloud.com
username=cbsAUstaging
#api_key=
version=2.0
password=WDJwWmC2M0zIoLyP

[volumes]
identity_service_name=cloudBlockStorageSYDTest
region=SYD
min_volume_size=100
max_volume_size=1024
default_wait_interval=10
default_max_waits=50
atom_feed_url=