[misc]
serializer=json
deserializer=json

[identity_api]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=auth
password=auth123
version=2.0

[atomhopper]
serializer=xml
deserializer=xml

[compute]
#atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net/nova/events
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net/usagetest3/events

[volumes]
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/cbs/events

[object_storage]
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/files/events

[lbaas]
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/lbaas/events

[legacyserv]
#atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/servers/events
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/usagetest3/events
