# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
version=2.0

[identity_api]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=cloudqabrandon
api_key=
password=Pass1234
alt_username=qeuser5stg
alt_api_key=
alt_password=Pass1234
version=2.0

[compute]
identity_service_name=cloudServersPreprod
region=ord
image_ref=d531a2dd-7ae9-4407-bb5a-e5ea03303d98
flavor_ref=2
server_status_timeout=120

[lbaas]
identity_service_name=cloudLoadBalancers
region=STAGING
mgmt_url=https://staging.admin.ord.loadbalancers.api.rackspacecloud.com/v1.0
mgmt_username=lbaas_service
mgmt_password=DsEjl\#pqFu2
live_node1=50.56.235.33
live_node2=50.56.203.87
live_node1_servicenet=10.178.196.39
live_node2_servicenet=10.179.32.86
live_node_password=b00mb00m
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/lbaas/events/
atom_feed_user=lbaasUsageUS
atom_feed_password=J261neLCdGbooTeJ
zeus_username=admin
zeus_password=KRkt1WjV
zeus_wsdl_location=http://50.56.235.33/wsdl
zeus_soap_endpoint=https://ztm-n01.staging1.lbaas.rackspace.net:9090/soap
zeus_replication_time=10
tenant_id=5806065
domain_node=domainnode.rackexp.org
default_vip_type=SERVICENET
jenkins_url=http://cimaster-n01.cloudplatform.rackspace.net:8080/job
connection_log_job=atlas-lb-us-staging-connection-log-verify

[object_storage]
region=ord
identity_service_name=cloudFiles