# ======================================================
# jack.config
# Use this configuration file to run against the Jack's builds
# ======================================================
[lunr_api]
host = lunr
port = 8080
ssl = False
version = v1.0
account_name = admin
account_id = admin

[storage_node_api]
autodetect = True

[nova_shell]
environment_type=hacker-jack
OS_USERNAME=johnny
OS_PASSWORD=admin
OS_TENANT_NAME=account1
OS_AUTH_URL=http://localhost:5000/v2.0/
min_volume_size=1
max_volume_size=1
#OS_AUTH_SYSTEM=rackspace
image_name=oneiric_ami
flavor=1

[cinder_shell]
environment_type=hacker-jack
OS_USERNAME=johnny
OS_PASSWORD=admin
OS_TENANT_NAME=account1
OS_AUTH_URL=http://localhost:5000/v2.0/
environment_type=jack
min_volume_size=1
max_volume_size=1
OS_AUTH_SYSTEM=rackspace
