# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=nova_auto3
api_key=a3d349856da55a26b5a782b50abddbca
version=2.0

[isl]

base_request_url=https://staging.incident.api.rackspacecloud.com/v1
