# ======================================================
# preprod.ord.config
# Use this configuration file to run against LON Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[atomhopper]
serializer=xml
deserializer=xml

[identity_api]
version=2.0
authentication_endpoint=https://lon.staging.identity.api.rackspacecloud.com
atom_hopper_url=https://atom.staging.ord1.uk.ci.rackspace.net/identity/events
v1_default_mosso=[1015,1044]
v1_default_nast=[1008,1013]
default_region=LON
default_services=['cloudFiles', 'cloudFilesCDN', 'cloudServersPreprod', 'cloudServers']
username=cloudCafeUserAdmin
admin_username=ukIdentityQeAdm
password=passworD1
admin_password=f9nvZKXgZvFDhfEG
api_key=ba04b108b7cefcbcbf7c4d8bd05e3857
tenant_id=StagingUS_d8785bf2-d10f-4fbd-a7d8-04fd5eedfd66
id=10043258
false_api_key=gellert123456789gellert123456789
empty_api_key=
long_api_key=gellert123456789gellert1234567891234567890123
short_api_key=gellert123456789
bad_char_api_key=ЖЩЙЯХЪХУГЖШЩЙЬЯ
false_password=00000000
empty_password=
short_password=Pass1
bad_char_password=ЯЩИШХГФф9
false_token=01234567-2222-111-333-123456789123
empty_token=
long_token=01234567-2222-111-333-12345678912367847474747
short_token=333-123456789123
bad_char_token=ЯЩИШХГФф9
false_tenant_id=00001111
service_username=cloudIdentitySA
service_password=Auth1234
service_username_to_test=identityAdminStagingUser
service_password_to_test=4bb2X6=1r1
wait_time=5
identityAdminRoleId=1
defaultUserRoleId=2
userAdminRoleId=3
serviceAdminRoleId=4
default_email=testbox@mailtrust.com
user_manage_role_id=7
token_entropy=1
cloud_token_ttl=86400
impersonation_token_ttl=10800
racker_username=test.racker
racker_password=password
encryption_password=
algorithm=
type_mosso=MOSSO
public_url=https://service-public.com/v1
internal_url=https://service-internal.com/v1
admin_url=https://service-admin.com/v1
subuser_limit=100
cloudfiles_role_id=5

[default_role_id]
identity_user_default_role_id=1
user_admin_default_role_id=3
sub_user_default_role_id=2
role_with_weight_100_id = 10065825
role_with_weight_500_id = 10065826
role_with_weight_1000_id = 10065828
role_with_weight_2000_id = 10065829

[ldap]
host=
bind_dn=cn=admin,ou=internal,dc=rackspace,dc=com
password=
port=636
open_ldap=False
openldap_host=localhost
openldap_port=389
page_size=None
