# ======================================================
# test.config
# Use this configuration file to run against test env
# ======================================================

[misc]
serializer=json
deserializer=json
ext_serializer=json
ext_deserializer=json

[auth]
base_url=http://184.106.79.154:5000
username=admin
password=openstack
tenant_name=demo
version=keystone

[compute]
tenant_id=687a32b2962a431283025f51d2378ae4
region=RegionOne
compute_endpoint_name=nova
identity_service_name=nova
image_ref=17e36e10-ec80-49ef-97ab-63286dc56a40
flavor_ref=1

[images]
url=http://184.106.79.154:7667/v1
ext_url=http://184.106.79.154:8774/v2
helper_url=http://184.106.79.154:9000
tenant_id=687a32b2962a431283025f51d2378ae4
tenant=demo
alt_tenant=demo2
user_name=admin
retention=2
alt_retention=3
sch_img_metadata_key=org.openstack__1__created-by
sch_img_metadata_value=scheduled-images-service
action=snapshot
alt_action=reboot
minute=30
hour=15
month=9
day_of_week=5
day_of_month=15
schedule_metadata={"meta": {"retention", "3"}}
metadata_key=instance_id
alt_metadata_key=retention
user_name_metadata_key=user_name
third_metadata_key=third_key
host=test_host
alt_host=test_host2
job_status=queued
alt_job_status=teststatus
build_interval=10
job_status_timeout=600
job_pickup_timeout=300
server_status_timeout=600
worker_stop_timeout=30
worker_start_timeout=15
scheduler_nextrun_timeout=60
#default timeout is 3600; for snapshot action timeout is 86400
hard_timeout_offset=3600
scheduled_images_alias=rax-si-image-schedule
results_limit=100
