# =============================================================================
# default.config
# This config was hacked together from hearsay.  Nothing in here is definitive,
# and this should be replaced with a collection of better-sourced configs.
# =============================================================================

[misc]
serializer=xml
deserializer=xml

[identity]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
password=C3Rq31R9h18C
username=devxfilterUS
api_key=
version=2.0

[rax_signup]
base_url =  https://test.signup.api.rackspacecloud.com

[atom_hopper_events]
ah_endpoint = https://atom.staging.ord1.us.ci.rackspace.net/sites/events

[user_identiy]
identity_endpoint = https://staging.identity.api.rackspacecloud.com