# ======================================================
# Use this configuration file to run against LON PROD
# for ukservermilltst test account
# ======================================================

[misc]
serializer=json
deserializer=json

[managedcloud]
mass_url=https://monitoring.api.rackspacecloud.com/v1.0
valkyrie_base_url=https://valkyrie.prod.myrs.rackspace.com/cloud_account
valkyrie_auth_token=E68480047C5CB734152161B2ECD9AEF319BAE02294DCCE4F0F73AC0FA175F6F9
managed_cloud_timeout=3600

[auth]
base_url=https://lon.identity.api.rackspacecloud.com
username=ukservermilltst
password=
api_key=e3d6365b9ee4f57f4e6d3084c1f07cc2
version=2.0
low_limit_username=ukservermilltst
low_limit_user_password=e3d6365b9ee4f57f4e6d3084c1f07cc2

[identity]
authentication_endpoint=https://lon.identity.api.rackspacecloud.com
username=ukservermilltst
admin_username=ukservermilltst
admin_password=
api_key=e3d6365b9ee4f57f4e6d3084c1f07cc2
id=10026028
version=2.0

[compute]
tenant_id=10031449
region=LON
ssh_timeout=300
identity_service_name=cloudServersOpenStack
build_interval=10
server_status_timeout=9000
image_ref=03318d19-b6e6-4092-9b5c-4758ee0ada60
image_status_timeout=2400
image_ref_alt=d531a2dd-7ae9-4407-bb5a-e5ea03303d98
windows_image_ref=4dae4592-8ef7-4f6e-8b09-e8142d3beb5c
flavor_ref=2
atom_hopper_url=https://atom.prod.lon3.us.ci.rackspace.net


[legacyserv]
url=https://lon.servers.api.rackspacecloud.com/v1.0/

[isolated_networks]