# ======================================================
# dfw.lefty.config
# Use this configuration file to run against DFW Env
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity-internal.api.rackspacecloud.com
username=jayd0870
password=Password@163462
version=2.0_internal

[lefty]
base_url=https://162.209.67.133/v1
account_id=26151
data_centre=DFW
pubsub_url_dfw=https://162.209.67.193
pubsub_url_ord=https://50.56.49.252
