# Use this configuration file to run against ORD Preprod
# For dnsaas
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://auth.api.rackspacecloud.com/v2.0/tokens
username=raxqe1
accounttId=754653
api_key=fd181b10c807abf4745cb33940ff00a0
version=2.0

[identity]
authentication_endpoint=https://auth.api.rackspacecloud.com
admin_username=raxqe1
username=raxqe1
accounttId=754653
api_key=fd181b10c807abf4745cb33940ff00a0
version=2.0

[dnsaas]
url=http://esb-n03.ord1.dnsaas.rackspace.net:8774/v1.0/754653
identity_service_name=cloudDNS
rel=cloudLoadBalancers
href=https://syd.loadbalancers.api.rackspacecloud.com/v1.0/754653/loadbalancers
name=ptrrecord.com
type=PTR



[lbaas]
identity_service_name=cloudLoadBalancers
region=SYD
mgmt_url=https://admin.ord.loadbalancers.api.rackspacecloud.com/v1.0
live_node1=50.56.235.33
live_node2=50.56.203.87
live_node1_servicenet=10.178.196.39
live_node2_servicenet=10.179.32.86
live_node_password=b00mb00m
atom_feed_url=https://atom.prod.ord1.us.ci.rackspace.net/lbaas/events/
atom_feed_user=lbaasUsageUS
atom_feed_password=BHjSIW1K2a0TrnUx