# ======================================================
# test.rad.config
# Use this configuration file to run against RAD Test Environment
# ======================================================

[misc]
serializer=json
deserializer=json

[rad]
base_url=http://test.rad.encore.rackspace.com:8080/radapi/1.0