# =============================================================================
# default.config
# This config was hacked together from hearsay.  Nothing in here is definitive,
# and this should be replaced with a collection of better-sourced configs.
# =============================================================================

[misc]
serializer=xml
deserializer=xml

[identity]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
password=C3Rq31R9h18C
username=devxfilterUS
api_key=
version=2.0

[rax_signup]
base_url =  https://staging.signup.api.rackspacecloud.com
wait_in_seconds = 10
affiliate_code = HASOFFERS
affiliate_id_source = http://rackspacetesting.go2cloud.org/SH2I
welcome_email_templates = uk.core.welcome.email.vm,
                          uk.managed.welcome.email.vm,
                          us.core.welcome.email.vm,
                          us.managed.welcome.email.vm,
                          syd.welcome.email.vm

[atom_hopper_events]
ah_endpoint = https://atom.staging.ord1.us.ci.rackspace.net/sites/events

[user_identity]
identity_endpoint = https://staging.identity.api.rackspacecloud.com