# ======================================================
# h48.config
# Use this configuration file to run against h48 env
# ======================================================

[misc]
serializer=json
deserializer=json
ext_serializer=json
ext_deserializer=json

[identity]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
version=2.0
username=huddle48user
api_key=0f97f489c848438090250d50c7e1ea88

[compute]
tenant_id=4801
region=ORD
compute_endpoint_name=openstackHuddle48
identity_service_name=openstackHuddle48
image_ref=8ae428cd-0490-4f3a-818f-28213a7286b0
flavor_ref=1

[images]
url=http://qonos-api1.global.ci.ohthree.com:7667/v1
ext_url=http://nova-api1.a0001.h48.ohthree.com:8774/v2
helper_url=
tenant_id=4801
tenant=4801
alt_tenant=demo2
user_name=huddle48user
retention=2
alt_retention=3
sch_img_metadata_key=org.openstack__1__created-by
sch_img_metadata_value=scheduled-images-service
action=snapshot
alt_action=reboot
minute=30
hour=15
month=9
day_of_week=5
day_of_month=15
schedule_metadata={"meta": {"retention", "3"}}
metadata_key=instance_id
alt_metadata_key=retention
user_name_metadata_key=user_name
third_metadata_key=third_key
host=test_host
alt_host=test_host2
job_status=queued
alt_job_status=teststatus
build_interval=10
job_status_timeout=600
job_pickup_timeout=300
server_status_timeout=600
worker_stop_timeout=30
worker_start_timeout=15
scheduler_nextrun_timeout=60
#default timeout is 3600; for snapshot action timeout is 86400
hard_timeout_offset=3600
scheduled_images_alias=rax-si-image-schedule
results_limit=100
