# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[atomhopper]
serializer=xml
deserializer=xml

[identity]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=cloudCafeUserAdmin
admin_username=auth
password=passworD1
admin_password=auth123
api_key=ba04b108b7cefcbcbf7c4d8bd05e3857
tenant_id=StagingUS_d8785bf2-d10f-4fbd-a7d8-04fd5eedfd66
id=10043258
false_api_key=gellert123456789gellert123456789
empty_api_key=
long_api_key=gellert123456789gellert1234567891234567890123
short_api_key=gellert123456789
bad_char_api_key=ЖЩЙЯХЪХУГЖШЩЙЬЯ
false_password=00000000
empty_password=
short_password=Pass1
bad_char_password=ЯЩИШХГФф9
false_token=01234567-2222-111-333-123456789123
empty_token=
long_token=01234567-2222-111-333-12345678912367847474747
short_token=333-123456789123
bad_char_token=ЯЩИШХГФф9
false_tenant_id=00001111
mosso_key=740043a47e71875457784e6a6eede543
mosso_Id=5830193
nast_key=asdasdasd-adsasdads-asdasdasd-adsadsasd
nast_Id=StagingUS_242802a5-ad69-435f-9790-9b7d1ba9e6ae
service_username=identityAdminStagingUser
service_password=4bb2X6=1r1
wait_time=5
identityAdminRoleId=1
defaultUserRoleId=2
userAdminRoleId=3
serviceAdminRoleId=4
default_email=testbox@mailtrust.com
default_region=DFW
user_manage_role_id=7
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net/identity/events

[ldap]
ldap_host=cert-ldap1.cidm.iad2.corp.rackspace.com
bind_dn=cn=admin,ou=internal,dc=rackspace,dc=com
password=Qwerty00
port=636
open_ldap=False
openldap_host=localhost
openldap_port=389
page_size=None
