# Use this configuration file to run against ORD Preprod
# For dnsaas
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://auth.api.rackspacecloud.com
username=pftestacct2
accounttId=440369
api_key=e500135bd24352e8e2059abcc82660c1
version=2.0

[identity]
authentication_endpoint=https://auth.api.rackspacecloud.com
username=pftestacct2
accounttId=440369
api_key=e500135bd24352e8e2059abcc82660c1
version=2.0

[dnsaas]
identity_service_name=dnsaas
url=http://esb-n04.ord1.dnsaas.rackspace.net:8774/v1.0/440369
rel=cloudLoadBalancers
href=https://ord.loadbalancers.api.rackspacecloud.com/v1.0/440369/loadbalancers
name=ptrrecord.com
type=PTR




[lbaas]
identity_service_name=cloudLoadBalancers
region=ORD
mgmt_url=https://admin.ord.loadbalancers.api.rackspacecloud.com/v1.0
mgmt_username=lbaas_service
mgmt_password=DsEjl\#pqFu2
live_node1=50.56.235.33
live_node2=50.56.203.87
live_node1_servicenet=10.178.196.39
live_node2_servicenet=10.179.32.86
live_node_password=b00mb00m
atom_feed_url=https://atom.prod.ord1.us.ci.rackspace.net/lbaas/events/
atom_feed_user=lbaasUsageUS
atom_feed_password=BHjSIW1K2a0TrnUx
tenant_id=386065