# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=http://198.101.247.226:5000
username=auto
password=password
tenant_name=auto
version=keystone
low_limit_username=auto
low_limit_user_password=password

[compute]
tenant_id=29b164e936fd4b20b373d664a73c68e9
region=RegionOne
ssh_timeout=300
build_interval=10
server_status_timeout=600
create_limit=300
image_ref=dedc4826-37c5-4891-b2e7-16b7e09c3179
image_status_timeout=600
image_ref_alt=dedc4826-37c5-4891-b2e7-16b7e09c3179
windows_image_ref=
flavor_ref=1
flavor_ref_alt=2
flavor_40_gb_ref=3
flavor_with_2_vcpus=4
create_image_enabled=true
resize_available=true
os_type=linux
ip_address_version_for_ssh=4
compute_endpoint_name=nova
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net
atom_hopper_feed_limit=250  
atom_hopper_pagination_limit=30
mysql_conn_string=tempestuser:p@ssword@50.56.185.24/tempestpreprod
identity_service_name=nova

[isolated_networks]