# ======================================================
# qe.h48.config
# Use this configuration file to run against the QE
# Environment Huddle 48
# ======================================================

#[logging]
#python_log_dir = /home/joseidar/Desktop
#python_log_file = cclog
#python_log_level = debug

[misc]
serializer=json
deserializer=json

#[lunr_api]
#host = 10.127.0.184
#port = 8080
#ssl = False
#version = v1.0
#account_name = admin
#account_id = admin

#[storage_node_api]
#autodetect = True
#host = False
#port = False
#ssl = False

[cinder_shell]
environment_type=huddle
OS_NO_CACHE=1
NOVACLIENT_DEBUG=1
NOVACLIENT_INSECURE=1
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
OS_AUTH_URL=https://staging.identity.api.rackspacecloud.com/v2.0/
OS_TENANT_NAME=4801
OS_USERNAME=huddle48user
OS_PASSWORD=0f97f489c848438090250d50c7e1ea88
OS_REGION_NAME=CBSDev-ORD
OS_AUTH_SYSTEM=rackspace

[auth]
base_url=http://10.127.0.55:5000
username=clayg
api_key=
version=2.0
password=clayg

[compute]
identity_service_name=cloudServersPreprod
region=ORD
image_ref=a3a2c42f-575f-4381-9c6d-fcd3b7d07d17
flavor_ref=2

[volumes]
identity_service_name=cloudBlockStoragePreprod
region=ORD
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/cbs/events
