# ======================================================
# ordprod.config
# Use this configuration file to run against the prod environment in ORD
# ======================================================

[misc]
serializer=json
deserializer=json

[identity]
authentication_endpoint=https://identity.api.rackspacecloud.com
username=cbstesting02
api_key=7ecd8f44d574c1461a082f7a9884a2ca
version=2.0

[auth]
base_url=https://identity.api.rackspacecloud.com
username=cbstesting02
api_key=7ecd8f44d574c1461a082f7a9884a2ca
version=2.0
password=

[lunr_api]
host = 10.23.163.251
port = 8080
ssl = False
version = v1.0
account_name = admin
account_id = admin

[storage_node_api]
autodetect = True
#host = False
#port = False
#ssl = False

[nova_shell]
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
NOVACLIENT_INSECURE=1
NOVA_SERVICE_NAME=cloudServersOpenStack
NOVA_VOLUME_SERVICE_NAME=cloudBlockStorage
OS_REGION_NAME=ORD
OS_TENANT_NAME=706620
OS_USERNAME=cbstesting02
OS_PASSWORD=7ecd8f44d574c1461a082f7a9884a2ca
OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
OS_NO_CACHE=1
environment_type=huddle
image_name=Ubuntu 12.04 LTS (Precise Pangolin)
min_volume_size=100
max_volume_size=1024
OS_AUTH_SYSTEM=rackspace

[cinder_shell]
min_volume_size=100
max_volume_size=1024
environment_type=huddle
CINDER_RAX_AUTH=1
OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
OS_TENANT_NAME=706620
OS_USERNAME=cbstesting02
OS_PASSWORD=7ecd8f44d574c1461a082f7a9884a2ca
OS_REGION_NAME=ORD
CINDER_VOLUME_SERVICE_NAME=cloudBlockStorage
OS_AUTH_SYSTEM=rackspace

[volumes]
identity_service_name=cloudBlockStorage
region=ORD
min_volume_size=100
max_volume_size=1024
default_wait_interval=30
default_max_waits=100
atom_feed_url=https://atom.prod.ord1.us.ci.rackspace.net/cbs/events/

[volume_attachments]
identity_service_name=cloudServersOpenStack
region=ORD

[compute]
identity_service_name=cloudServersOpenStack
region=ORD
image_ref=a3a2c42f-575f-4381-9c6d-fcd3b7d07d17
flavor_ref=2
