# ======================================================
# test.ss.config
# Use this configuration file to run against Test Env
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity-internal.api.rackspacecloud.com
username=tq_alpha
password=P4At=&wY]x2*TD8
version=2.0_internal

alt_username=forthao
alt_password=Csp0trun
alt_version=2.0
alt_url=https://staging.identity.api.rackspacecloud.com

[support_service]
base_url=https://staging.dfw.support.encore.rackspace.com/v1
account_number=5868844
service_level=Managed
linked_account=320712
account_name=forthao account
team_id=67
group_with_users=108
user_id=10
user_sso=tq_alpha
user_email=tq_alpha@rackspace.local
user_name=TQ_Alpha Service Account
user_tags=test_user
