# =============================================================================
# preprod.config
# Use this configuration file to run against the CBS PreProd Environment
# Environment Huddle 52
# =============================================================================

[misc]
serializer=json
deserializer=json

[lunr_api]
host = 10.67.144.6
port = 8080
ssl = False
version = v1.0
account_name = admin
account_id = admin
min_volume_size=100

[storage_node_api]
autodetect = True
host = False
port = False
ssl = False

[volumes]
min_volume_size=100
max_volume_size=1024

[cinder_shell]
min_volume_size=100
max_volume_size=1024
environment_type=huddle
CINDERCLIENT_INSECURE=1
CINDER_VOLUME_SERVICE_NAME=cloudBlockStorageSYDTest
#CINDER_RAX_AUTH=1
OS_NO_CACHE=1
OS_AUTH_URL=https://staging.identity-internal.api.rackspacecloud.com/v2.0
OS_USERNAME=cbsAUstaging
OS_PASSWORD=WDJwWmC2M0zIoLyP
OS_TENANT_NAME=-607635
OS_REGION_NAME=SYD
OS_AUTH_SYSTEM=rackspace