# =============================================================================
# default.config
# This config was hacked together from hearsay.  Nothing in here is definitive,
# and this should be replaced with a collection of better-sourced configs.
#
#Currently canabilizing a CBS user for testing here.  FIX THIS!
# =============================================================================

[misc]
serializer=json
deserializer=json

[identity]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=dksheffield
api_key=0f97f489c848438090250d50c7e1ea88
version=2.0
password=

[rax_signup]
base_url =  https://staging.signup.api.rackspacecloud.com

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=cc_jenkins_smoke
password=
api_key=4a6c3b8cc9f8fb6b356d576f27b26be0
version=2.0
low_limit_username=nova_low_limit
low_limit_user_password=f796879a67b325a18fe8cc62870d02c0


[compute]
tenant_id=5842489
region=ord
ssh_timeout=300
build_interval=10
server_status_timeout=600
create_limit=300
# image_ref=f16add22-8a2c-443e-a320-06369d472df2
image_ref=b8d3628e-8323-4b25-8d37-dd90b63bec2f
image_status_timeout=2400
image_ref_alt=c6c2b8c1-b963-4928-9c8e-541d731a8ee1
windows_image_ref=5468302a-3ffd-4e01-b6e7-f5da86d68e13
flavor_ref=2
flavor_ref_alt=3
flavor_40_gb_ref=3
flavor_with_2_vcpus=4
create_image_enabled=true
resize_available=true
authentication=keystone
os_type=linux
network_for_ssh=public
ip_address_version_for_ssh=4
compute_endpoint_name=cloudServersPreprod
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net
atom_hopper_feed_limit=250  
atom_hopper_pagination_limit=30
mysql_conn_string=tempestuser:p@ssword@50.56.185.24/tempestpreprod
identity_service_name=cloudServersPreprod
env_name=preprodord

[lbaas]
identity_service_name=cloudLoadBalancers
region=ORD
mgmt_url=https://staging.admin.ord.loadbalancers.api.rackspacecloud.com/v1.0
mgmt_username=lbaas_service
mgmt_password=DsEjl\#pqFu2
default_vip_type=SERVICENET
live_node1=50.56.235.33
live_node2=50.56.203.87
live_node1_servicenet=10.178.196.39
live_node2_servicenet=10.179.32.86
live_node_password=b00mb00m
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/lbaas/events/
atom_feed_user=lbaasUsageUS
atom_feed_password=J261neLCdGbooTeJ
zeus_username=admin
zeus_password=KRkt1WjV
zeus_wsdl_location=http://50.56.235.33/wsdl
zeus_soap_endpoint=https://ztm-n01.staging1.lbaas.rackspace.net:9090/soap
tenant_id=5806065
domain_node=domainnode.rackexp.org
jenkins_url=http://cimaster-n01.cloudplatform.rackspace.net:8080/job
connection_log_job=atlas-lb-us-staging-connection-log-verify