# Use this configuration file to run against ORD Preprod
# For dnsaas
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=dnsqeuser2
accounttId=5831151
api_key=2ee6c2480868d148168eba65a09af9bf
password=Pass1234
alt_username=dnsqeuser2
accounttId=5831151
alt_api_key=2ee6c2480868d148168eba65a09af9bf
alt_password=Pass1234
version=2.0



[dnsaas]
region=STAGING
identity_service_name=dnsaas
url=https://esb-n01.staging.dnsaas.rackspace.net/v1.0/5831151
rel=cloudLoadBalancers
href=https://staging.ord.loadbalancers.api.rackspacecloud.com/v1.0/5831151/loadbalancers
name=ptrrecord.com
type=PTR

[identity]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=dnsqeuser2
api_key=2ee6c2480868d148168eba65a09af9bf
password=Pass1234
version=2.0


[lbaas]
identity_service_name=cloudLoadBalancers
region=STAGING
mgmt_url=https://staging.admin.ord.loadbalancers.api.rackspacecloud.com/v1.0
live_node1=50.56.235.33
live_node2=50.56.203.87
live_node1_servicenet=10.178.196.39
live_node2_servicenet=10.179.32.86
live_node_password=b00mb00m
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/lbaas/events/
atom_feed_user=lbaasUsageUS
atom_feed_password=J261neLCdGbooTeJ