# ======================================================
# dev.config
# Use this configuration file to run against the Dev env
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=regtst75-3
password=Test1234
tenant_name=5823797
api_key=f852519fd817dd8f95426097a5a215ca
version=2.0

[autoscale]
tenant_id=5824240
region=ord
gc_name=test_sgroup
gc_cooldown=360
gc_min_entities=0
gc_min_entities_alt=3
gc_max_entities=3
lc_name=autoscale_server
lc_flavor_ref=3
lc_image_ref=0d589460-f177-4b0f-81c1-8ab8903ac7d8
sp_name=scaling_policy_test
sp_cooldown=600
sp_change=2
sp_change_percent=100
sp_steady_state=2
upd_sp_change=5
wb_name=test_webhook
lc_load_balancers=[{loadBalancerId: 9099, port: 8080}]
sp_list="[{"name": "scale up by 10", "change": 10, "cooldown": 5}]"

#networks
lc_uuid=11111111-1111-1111-1111-111111111111
lc_uuid2=00000000-0000-0000-0000-000000000000
identity_service_name=cloudServersPreprod