[misc]
serializer=json
deserializer=json

[identity_api]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=devxfilterUS
password=C3Rq31R9h18C
api_key=
version=2.0

[rax_signup]
base_url=https://staging.signup.api.rackspacecloud.com

[atom_hopper_events]
ah_endpoint=https://atom.staging.ord1.us.ci.rackspace.net/sites/events

[user_identiy]
identity_endpoint=https://staging.identity.api.rackspacecloud.com

[service_mix]
base_url=http://smix.staging.us.ccp.rackspace.net
