<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Priya Nupur</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>nza3X9nU+udfDM7tpaIDMtaP5z6PxtiHK4x/RPNH/pJ1ES5d0q7QVZ9IfhXUSFT1</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.ircbot.IrcUserProperty plugin="ircbot@2.21"/>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$6YMiTstGmDEQ24S8r4TO9eoeOP2gom1uJE3t12wUw/nZ0cBpK3EGe</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.4">
      <emailAddress>priya.nupur@thoughtworks.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>