# =============================================================================
# default.config
# This config was hacked together from hearsay.  Nothing in here is definitive,
# and this should be replaced with a collection of better-sourced configs.
# =============================================================================

[misc]
serializer=json
deserializer=json

[identity]
authentication_endpoint=https://staging.customer.api.rackspace.com
username=
api_key=
version=2.0
password=

[customer]
base_url=https://staging.customer.api.rackspace.com
auth_token=my-simple-demo-token
