# ======================================================================
# miguel.highio.config
# Use this configuration file to run against the
# IAD performance flavors production environment
# ======================================================================
[misc]
serializer=json
deserializer=json

[auth]
base_url=https://identity.api.rackspacecloud.com
username=iadmiguel
api_key=e1b87d4b99ce9f1f471cda40651aa603
password=e1b87d4b99ce9f1f471cda40651aa603
alt_username=test009
alt_api_key=cfe6b6f0f7c2d78ce941acbe0ae6e167
alt_password=pass009
version=2.0

[compute]
identity_service_name=cloudServersOpenStack
region=iad
image_ref=f45b4de7-6013-4eb9-8df4-133b913ffb40
image_ref_alt=81877a6e-9e87-4b1f-93f3-b176e25f3c4a
flavor_ref=performance2-15
build_interval=10
server_status_timeout=1200
server_delete_timeout=30
image_status_timeout=60
ip_address_version_for_ssh=4
#bypass_url=http://10.69.244.230:8774/v2/851486

[isolated_networks]
identity_service_name=cloudServersOpenStack
region=iad
performance_image_ref=92a28e50-181d-4fc7-a071-567d26fc95f6
managed_username=racktest02
managed_api_key=
managed_password=Pzzag6TkFtrB
rackconnect_username=racktest01
rackconnect_api_key=
rackconnect_password=MbAx30mxPRzM

[dual_mode]
public_network_bridge=xapi5
service_network_bridge=xapi3
isolated_network_bridge=xapi4
flows_type=VMFlowsMultiTable
nova_scheduler_ip=10.69.245.14
iperf_server_flavor_id=performance2-15

[nvp]
endpoint=https://10.13.0.55
username=admin
password=0vs?morelikeNOv$!
endpoint2=https://10.13.0.18

[admin]
admin_auth_url=https://racker-admin-api.global.iad.ohthree.com:5000
admin_username=
admin_password=
