[misc]
serializer=json
deserializer=json

[cinder_shell]
OS_NO_CACHE=1
OS_REGION_NAME=ORD
OS_TENANT_NAME=4801
OS_USERNAME=nova_sec_3
OS_PASSWORD=7b2de6923d795f50ebf2fb32128f1ffd
OS_AUTH_URL=https://staging.identity.api.rackspacecloud.com/v2.0/
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
NOVACLIENT_INSECURE=1
NOVA_SERVICE_NAME=openstackHuddle48
NOVA_VOLUME_SERVICE_NAME=cloudBlockStorageQE
NOVACLIENT_DEBUG=1
environment_type=huddle
IMAGE_ID=0790c8c7-1bbe-470c-9403-88883982b5fb



[identity_api]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=nova_sec_3
api_key=7b2de6923d795f50ebf2fb32128f1ffd
version=2.0
password=

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=nova_sec_3
api_key=7b2de6923d795f50ebf2fb32128f1ffd
version=2.0
password=


[volumes]
identity_service_name=cloudBlockStoragePreprod
region=ORD
min_volume_size=2
max_volume_size=1024
default_wait_interval=10
default_max_waits=50
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/cbs/events
