# ======================================================
# staging.zendesk.config
# Use this configuration file to run against mosso.zendesk.com staging
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
username=isl_qe_usq@lists.mosso.com
password=j@cks
zendesk_ticket_url = https://mosso.zendesk.com/api/v2/

[zendesk]
