# ======================================================
#comments
# ======================================================
[misc]
serializer=json
deserializer=json

[identity]
authentication_endpoint=https://identity.api.rackspacecloud.com
username=racktesting08
api_key=56616c184c8f918f3882bebe64ba9956
version=2.0
password=
alt_username=racktesting09
alt_api_key=57c146c38fd2d26e8aeee7aae508d811

[object_storage]
default_content_length=0
region=ORD
base_container_name=cf_qe_container
base_object_name=cf_qe_object
identity_service_name=cloudFiles
atom_feed_url=https://atom.prod.ord1.us.ci.rackspace.net/files/events
http_headers_per_request_count = 90
http_headers_combined_max_len = 4096
http_request_line_max_len = 8192
http_request_max_content_len = 5368709120
containers_name_max_len = 256
containers_list_default_count = 1000
containers_list_default_max_count = 1000
containers_max_count = 500000
object_name_max_len = 1024
object_max_size = 5368709120
object_metadata_max_count = 90
object_metadata_combined_byte_len = 4096
object_list_default_count = 1000
object_list_default_max_count = 1000
metadata_name_max_len = 128
metadata_value_max_len = 256
tempurl_key_cache_time = 60
formpost_key_cache_time = 60

[cloudfiles_cdn]
region=ORD
cdn_min_ttl = 900
cdn_max_ttl = 1577836800
cdn_purge_max_count = 25
