# Use this configuration file to run against ORD Preprod
# For dnsaas
# ======================================================

[misc]
serializer=json
deserializer=json




[identity_api]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=dnsqeuser
admin_username=dnsqeuser
admin_password=Pass1234
api_key=56b39aa3492d27aca1d3cbd795294e31
id=5845807
version=2.0

[dnsaas]
region=STAGING
identity_service_name=cloudDNS
url=https://qa.dnsaas.rackspace.net/v1.0/5845807
rel=cloudServers
href=https://servers.api.staging.us.ccp.rackspace.net/v1.0/5845807/servers
name=ptrrecord.com
type=PTR

[legacyserv]
region=STAGING
identity_service_name=cloudServers
url=https://servers.api.staging.us.ccp.rackspace.net/v1.0/5845807
name=ptrrecord.com


