# Use this configuration file to run against ORD Preprod
# For dnsaas
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://auth.api.rackspacecloud.com
username=pftestacct3
accounttId=440370
api_key=4f470e5f9ff4cb6625fb760013c28217
password=Pass1234
version=2.0

[identity_api]
authentication_endpoint=https://auth.api.rackspacecloud.com
username=pftestacct3
accounttId=440370
api_key=4f470e5f9ff4cb6625fb760013c28217
version=2.0

[dnsaas]
url=http://esb-n03.ord1.dnsaas.rackspace.net:8774/v1.0/440370
identity_service_name=cloudDNS
rel=cloudServersOpenStack
href=https://ord.servers.api.rackspacecloud.com/v2/440370/servers
name=ptrrecord.com
type=PTR

[compute]
tenant_id=658803
region=ord
ssh_timeout=300
build_interval=10
server_status_timeout=600
create_limit=300
image_ref=a3a2c42f-575f-4381-9c6d-fcd3b7d07d17
image_status_timeout=2400
image_ref_alt=a10eacf7-ac15-4225-b533-5744f1fe47c1 
windows_image_ref=5468302a-3ffd-4e01-b6e7-f5da86d68e13
flavor_ref=2
flavor_ref_alt=3
flavor_40_gb_ref=3
flavor_with_2_vcpus=4
create_image_enabled=true
resize_available=true
authentication=keystone
os_type=linux
ip_address_version_for_ssh=4
compute_endpoint_name=cloudServersOpenStack
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net
atom_hopper_feed_limit=250  
atom_hopper_pagination_limit=30
mysql_conn_string=tempestuser:p@ssword@50.56.185.24/tempestpreprod
identity_service_name=cloudServersOpenStack
