# =============================================================================
# preprod.config
# Use this configuration file to run against the CBS PreProd Environment
# Environment Huddle 52
# =============================================================================

[misc]
serializer=json
deserializer=json

[identity_api]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=cbsautotesting01
api_key=d74856694eb3d15e377c2b4c54ae38e0
version=2.0

[auth]
base_url=https://staging.identity.api.rackspacecloud.com
username=cbsautotesting01
api_key=d74856694eb3d15e377c2b4c54ae38e0
version=2.0
password=
low_limit_username=nova_low_limit
low_limit_user_password=Pass1234

[lunr_api]
host = 10.13.236.123
port = 8080
ssl = False
version = v1.0
account_name = admin
account_id = admin

[storage_node_api]
autodetect = True
host = False
port = False
ssl = False

[nova_shell]
NOVA_RAX_AUTH=1
NOVA_VERSION="1.1"
NOVACLIENT_INSECURE=1
NOVA_SERVICE_NAME=cloudServersPreprod
NOVA_VOLUME_SERVICE_NAME=cloudBlockStoragePreprod
OS_REGION_NAME=ORD
OS_TENANT_NAME=5831540
OS_USERNAME=cbsautotesting01
OS_PASSWORD=d74856694eb3d15e377c2b4c54ae38e0
OS_AUTH_URL=https://staging.identity.api.rackspacecloud.com/v2.0/
OS_NO_CACHE=1
environment_type=huddle
image_name=Ubuntu 12.04 LTS (Precise Pangolin)
flavor=2
min_volume_size=2
max_volume_size=1024
OS_AUTH_SYSTEM=rackspace

[cinder_shell]
min_volume_size=2
max_volume_size=1024
environment_type=huddle
CINDERCLIENT_INSECURE=1
CINDER_VOLUME_SERVICE_NAME=cloudBlockStoragePreprod
CINDER_RAX_AUTH=1
OS_NO_CACHE=1
OS_AUTH_URL=https://staging.identity.api.rackspacecloud.com/v2.0
OS_USERNAME=cbsautotesting01
OS_PASSWORD=d74856694eb3d15e377c2b4c54ae38e0
OS_TENANT_NAME=5831540
OS_REGION_NAME=ORD
OS_AUTH_SYSTEM=rackspace

[volumes]
identity_service_name=cloudBlockStoragePreprod
region=ORD
min_volume_size=2
max_volume_size=1024
default_wait_interval=10
default_max_waits=50
atom_feed_url=https://atom.staging.ord1.us.ci.rackspace.net/cbs/events

[volume_attachments]
identity_service_name=cloudServersPreprod
region=ORD

[compute]
tenant_id=5830193
region=ord
ssh_timeout=300
build_interval=10
server_status_timeout=600
create_limit=300
image_ref=8ae428cd-0490-4f3a-818f-28213a7286b0
image_status_timeout=2400
image_ref_alt=Debian 6.06 (Squeeze)
windows_image_ref=43a3683f-954f-4a52-92e7-5ec9722aa36a
flavor_ref=2
flavor_ref_alt=3
flavor_40_gb_ref=3
flavor_with_2_vcpus=4
create_image_enabled=true
resize_available=true
authentication=keystone
os_type=linux
ip_address_version_for_ssh=4
compute_endpoint_name=cloudServersPreprod
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net
atom_hopper_feed_limit=250  
atom_hopper_pagination_limit=30
mysql_conn_string=tempestuser:p@ssword@50.56.185.24/tempestpreprod
identity_service_name=cloudServersPreprod
