# Use this configuration file to run against ORD Preprod
# For dnsaas
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://auth.api.rackspacecloud.com
username=pftestacct3
accounttId=440370
api_key=4f470e5f9ff4cb6625fb760013c28217
password=Pass1234
version=2.0

[identity_api]
authentication_endpoint=https://auth.api.rackspacecloud.com
username=pftestacct3
accounttId=440370
api_key=4f470e5f9ff4cb6625fb760013c28217
version=2.0

[dnsaas]
url=https://dns.api.rackspacecloud.com/v1.0/440370
identity_service_name=cloudDNS
rel=cloudServers
href=https://servers.api.rackspacecloud.com/v1.0/440370/servers
name=ptrrecord.com
type=PTR


[legacyserv]
region=STAGING
identity_service_name=cloudServers
url=https://servers.api.rackspacecloud.com/v1.0/440370
name=ptrrecord.com


