# ======================================================
# checkmate.local.config
# Use this configuration file to run against ORD prod
# ======================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://identity.api.rackspacecloud.com
username=rsplatform
api_key=9801d82c5328c45fe7ef49018b363096
password=
alt_username=
alt_api_key=
alt_password=
version=2.0

[checkmate]
host=http://api.dev.chkmate.rackspace.net:8080
tenant_id=680640
