<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Stephen Golub</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>0Nzx5D6W7q6ZXak5f+eFU87bXjwwEvJff0VOLE0j/aJ1ES5d0q7QVZ9IfhXUSFT1</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.ircbot.IrcUserProperty plugin="ircbot@2.21"/>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$B6WWIm6qG1VwmvoKjI5KF.9mCSUIpg8.OxHLBvLo/ujYdxR8sGejq</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.4">
      <emailAddress>stephen.golub@rackspace.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>