# ======================================================
# local.search.config
# Use this configuration file to run against search local
# ======================================================

[misc]
serializer = json
deserializer = json

[auth]
base_url =
username=
password=
version =
core_auth_url = https://ws.staging.core.rackspace.com/ctkapi/
core_username = melissa.biles
core_password = qwerty
core_version = core
account_services_url = https://staging.account.api.rackspace.com/v1.0/
account_services_username = priy0835
account_services_password = Password=163463
zendesk_ticket_url = https://mosso.zendesk.com/api/v2/
zendesk_username = isl_qe_usq@lists.mosso.com
zendesk_password = j@cks
zendesk_version = zendesk

[gate]
base_url = http://staging.search.api.rackspace.com/
elastic_search_url = http://staging.elastic.search.api.rackspace.com/
start_time = 2013-03-12 03:00:26
start_time_1 = 2013-03-12 05:50:26
start_time_2 = 2004-02-09 09:00:26
utc_start_time_3 = 2012-01-01T00:00:00.000Z
utc_end_time_1 = 2013-01-01T00:00:00.000Z
end_time = 2013-03-12 06:02:26
utc_start_time = 2013-03-12T08:00:26.000Z
utc_start_time_1 = 2013-03-12T10:50:26.000Z
utc_start_time_2 = 2004-02-09T15:00:26.000Z
utc_end_time = 2013-03-12T11:02:26.000Z
status_1 = New
status_2 = Scheduled
status_3 = In Progress
status_4 = No Feedback
status_5 = Unsolved
status_type = 8
tq_search_priority_1 = Normal
tq_search_priority_2 = High
priority_1 = 1
priority_2 = 2
priority_3 = 3
account_number_1 = 942261
account_number_2 = 896236
account_number_3 = 829213
account_number_4 = 1009995
account_number_5 = 11
source_system = 5
queue_name = AR/Cancellations
queue_name_1 = Intensive (All Teams)
utc_date_constant = .000+0000
content_type = application/json
account_type_1 = CLOUD
account_type_2 = MANAGED_HOSTING
team_name = Team UK M24
team_name_alt = Team A1
queue_id = 13
queue_id_alt = 12
queue_id_alt_ref_1 = 16
queue_id_alt_ref_2 = 1
queue_id_ref = 2
subject_1 = New subject
assignee_user_id = matt.printz
assignee_user_name = Matthew Printz
sync_queue_id = 11
sync_sub_category = 11206
sync_account_id = 11
sync_ticket_text = "Ticket Text Message"
sync_ticket_list = []
sync_ticket_subject = "Generic core ticket"
sync_ticket_subject2 = "Generic core ticket two"
sync_source = 1
sync_severity = 1
end_time_1 = 2013-02-10 15:00:26
utc_end_time_1 = 2013-02-10T21:00:26.000Z
tq_search_account_number_1 = MANAGED_HOSTING858926
tq_search_account_number_2 = MANAGED_HOSTING918664
sleep_100_sec = 100
sleep_30_sec = 30
team_number = 129
queue_id_alt_ref = 497




