# =========================================================
# ord.prod.config
# Use this configuration file to run against Production ORD
# =========================================================

[misc]
serializer=json
deserializer=json

[auth]
base_url=https://identity.api.rackspacecloud.com
username=qeuser2
api_key=3f364756e1a11967067d2407aed0580a
password=
alt_username=qeuser2
alt_api_key=3f364756e1a11967067d2407aed0580a
alt_password=
version=2.0

[compute]
identity_service_name=cloudServersOpenStack
region=ord
image_ref=d4c7b93d-9f18-45dc-aa7c-3e3b126e3792
image_ref_alt=8ae428cd-0490-4f3a-818f-28213a7286b0
flavor_ref=2
build_interval=10
image_status_timeout=1200
server_status_timeout=1200
server_delete_timeout=30
ip_address_version_for_ssh=4

[isolated_networks]
identity_service_name=cloudServersOpenStack
region=ord
