# ======================================================
# preprod.ord.config
# Use this configuration file to run against ORD Preprod
# ======================================================

[misc]
serializer=json
deserializer=json

[identity]
authentication_endpoint=https://d-api2.cidm.iad2.corp.rackspace.com:4932/cloud
username=cloudCafeUserAdmin
password=passwordD1
api_key=ba04b108b7cefcbcbf7c4d8bd05e3857
tenant_id=StagingUS_5a7ace89-7f58-461b-bf73-ef11915fbd99
id=10071320
admin_username=auth
admin_password=auth123
false_api_key=gellert123456789gellert123456789
empty_api_key=
long_api_key=gellert123456789gellert1234567891234567890123
short_api_key=gellert123456789
bad_char_api_key=ЖЩЙЯХЪХУГЖШЩЙЬЯ
false_password=00000000
empty_password=
short_password=Pass1
bad_char_password=ЯЩИШХГФф9
false_token=01234567-2222-111-333-123456789123
empty_token=
long_token=01234567-2222-111-333-12345678912367847474747
short_token=333-123456789123
bad_char_token=ЯЩИШХГФф9
false_tenant_id=00001111
#ivase (Cloud Auth)
mosso_key=740043a47e71875457784e6a6eede543
mosso_Id=5830193
#ccusername925681 (Global Auth)
nast_key=asdasdasd-adsasdads-asdasdasd-adsadsasd
nast_Id=StagingUS_04877ed9-c0f6-48d0-8b81-f749cdd23895
service_username=authQE
service_password=Auth1234
#impersonation
wait_time=5
identityAdminRoleId=1
defaultUserRoleId=2
userAdminRoleId=3
serviceAdminRoleId=4
